body {
    font-family: "Roboto" , sans-serif;
    background-color: rgb(90, 90,90);
}
.navbar {
    display: inline;
    list-style: none;
}
header {
    background-color: black;
    text-align: center;
    color: aliceblue;
    justify-content: center;
}
a {
    color: azure;
    background-color: rgb(50, 50,50);
    padding: 10px;
}
a:hover {
    color: brown;
    background-color: black;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar a {
    display: block;
    color: aliceblue;
    padding: 20px;
    background-color: black;
    text-align: center;
    justify-content: center;
}
#nav {
    background-color: black;
}
nav {
    justify-content: center;
}
.navbar a:hover {
    background-color: rgb(51, 43, 43);
    color: brown;
}
#home {
    margin-bottom: 10px;
}
main {
    
}
section {
    box-shadow: black;
    background-color: rgb(229, 229, 230);
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 10px;
}
footer {
    color: aliceblue;
    background-color: black;
    text-align: center;
    border-radius: 7px;
}
#footer {
    background-color: black;
    
}
footer a {
    background-color: black;
}